/*
#overview
Gulp入門サンプル
 
サンプルファイルです
*/
 
/*#styleguide
サンプル見出し1
 
サンプルの見出しスタイル
hoverするとtranslateする
 
```
<h1>見出し1</h1>
```
*/
h1 {
  color: red;
  transition: 200ms ease-out transform;
  &:hover {
    color: blue;
    transform: translate(10px,0);
  }
}

/*#styleguide
サンプル見出し2
 
青い見出し 
```
<h2>見出し2</h2>
```
*/
h2 {
  color: blue;
}

